<div *ngIf="isSelected() else noSelected">
    <mat-card class="feed__item" *ngFor="let item of feedList" (click)="getSelectedMessage(item)">
        <mat-card-header>
            <mat-card-title>
                {{ item.title }}
            </mat-card-title>

            <mat-card-subtitle> 
                {{ item.pubDate | date: 'medium' }} {{ item.author }}
            </mat-card-subtitle>
        </mat-card-header>

        
        <mat-card-content>
            {{ item.description }}
        </mat-card-content>

        <mat-card-footer>
            <a href="{{ item.link }}" target="_blank">Go to source</a>
        </mat-card-footer>
    </mat-card>
</div>

<ng-template #noSelected >
    No Selected
</ng-template>
  
