.feed {
    width: 350px;
    margin: 0 auto;
}

.feed__item {
    margin: 30px 0;
}

.feed__link,
.feed__link:focus,
.feed__link:visited,
.feed__link:active, {
    color: #b58acd;
}

@media (min-width: 1024px) {
    .feed {
        width: 550px;
        float: right;
        margin-right: 3%;
    }
}

@media (min-width: 1240px) {
    .feed {
        width: 60%;
    }
}